.carousel-images {
  margin: 0 -5px;

  margin-bottom: 1em;
  .slick-slide {
    padding: 5px;

    width: 100%;
    height: 250px;
    .ant-image{
      height: 100%;
      width: 100%;
      .ant-image-img{
        height: 100%;
        width: 100%;
        // object-fit:cover;

      }
    }
    .ant-image:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .slick-arrow {
    z-index: 1;

    &::before {
      font-size: 30px;
    }

    &.slick-next {
      right: 20px;
    }
    &.slick-prev {
      left: 20px;
    }
  }
}
