.footer {
  background-color: black;

  h1 {
    color: whitesmoke;
  }
  h4 {
    text-align: center;
    color: whitesmoke;
    font-family: initial;
  }
  h3 {
    text-align: end;
    color: white;
  }
}
